/**FIRMA**/
#dankb {
    width: 315px;   height: 235px;
    margin: 0 auto;    overflow: hidden;
    outline-offset: -10px;
    border: 10px solid var(--back3);
    outline: 1px solid #c477264a;
    position: relative;
}

.dk-i {
  width: 375px;  
  height: 220px; 
  transition: all 0.6s ease-in-out; 
  transform: translateX(-60px);
  position: absolute;
}

#dankb:hover .dk-i{
  transform: translateX(0px);
  transition: all 0.6s ease-in-out; 
  filter: brightness(0.6) grayscale(0.4) blur(1px);
}

#dankb .dbox-t {
    width: 150px;
    height: 215px;
    position: relative;
    left: -150px;
    top: -47px;
    background: #a25505e6;
    mix-blend-mode: difference;
    padding: 15px;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}

#dankb:hover .dbox-t {
  left: 0;
  transition: all 0.5s ease-in-out;
}

#dankb span {
width: 50px;
    height: 50px;
    border: 1px solid var(--dkcolor);
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    left: 40px;
    top: 120px;
  transition: all 0.4s ease-in;
}
#dankb:hover span {
  top: 150px;
  transition: all 0.4s ease-in;
}

#dankb span i {
   text-align: center;
  transform: rotate(-45deg);
   display: block;
  position: relative;
  font-size: 37px;
  color: #efefef;
  opacity: 0.5;
  margin: 6px 0 0;
  animation: kestrel linear 7s infinite;
  z-index: 99;
}

@keyframes kestrel {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% { transform: rotate(360deg); }
}

.dbox-t .rbtx{
    font: 11px Calibri;
    color: #efefef;
    width: 120px;
    margin: 30px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  line-height: 14px;
}

.dbox-t .rbtx b {
  background-color: var(--dkcolor);
  padding: 1px;   color: #080808;
}

/**TABLILLAS**/
.roltab-dkc {
    border: var(--border);
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    line-height: 140%;
}

.dkc-tit {
    width: 100%;
    background: var(--back1);
    text-align: left;
    font: 21px 'El Messiri', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 100%;
    border-bottom: 1px dotted var(--dkcolor);
    padding: 40px;
}
.dkc-tit b{
  color: var(--dkcolor);
}

.dkc-txct {
    padding: 40px;
    background: var(--back2);
    font: 12px Georgia;
    line-height: 155%;
    text-align: justify;
}

.roltab-dkc .exdat{
  display: flex;
    flex-direction: column;
    border-top: 1px dotted var(--dkcolor);
    width: 100%;
    background: var(--back1);
    text-align: right;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 20px 40px;
}

.exdat span{
    font: 600 7px Calibri;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 200%;
    padding: 1px;
    color: #212121;
  }

:root {
  --dkcolor: #c47726;
}
